.teamSignUpForm {
  /* background: red; */

  width: 100%;
  flex-wrap: wrap;
  display: flex;
  padding: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  
}

.teamSignUpForm__left {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.teamSignUpForm__right {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .teamSignUpForm__left {
    flex-wrap: nowrap;
    align-items: flex-start; 
    margin-bottom: 1rem;  
  }

  .teamSignUpForm__right {
    flex-wrap: nowrap;
  }
}
