/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
/* 
.app {
background-color: blue;
min-height: 100vh;

} */

.appTest {
  /* background-color: yellowgreen; */
  /* min-height: 100vh;  */
  /* position: relative; */


 
}
